%ul.messages
  - @room.messages.each do |m|
    - m.translated_messages.each do |tm|
      %li{class: tm.language}
        = tm.content

%button.translate
  trans

= form_for @message do |f|
  %div.form-content
    = f.text_field :content, autofocus: true

  %div.form-submit
    = f.hidden_field :room_id, value: params[:id]
    = f.submit 'OK'

:coffee
  Room.scroll()
